In [3]:
import pandas as pd

In [4]:
prices = pd.read_csv('ch09/stock_px.csv')
prices[:8]

            Unnamed: 0  AAPL   MSFT    XOM     SPX
0  2003-01-02 00:00:00  7.40  21.11  29.22  909.03
1  2003-01-03 00:00:00  7.45  21.14  29.24  908.59
2  2003-01-06 00:00:00  7.45  21.52  29.96  929.01
3  2003-01-07 00:00:00  7.43  21.93  28.95  922.93
4  2003-01-08 00:00:00  7.28  21.31  28.83  909.93
5  2003-01-09 00:00:00  7.34  21.93  29.44  927.57
6  2003-01-10 00:00:00  7.36  21.97  29.03  927.57
7  2003-01-13 00:00:00  7.32  22.16  28.91  926.26

In [16]:
df = pd.DataFrame.assign(vwap=df.eval('wgtd = price * quantity', inplace=False ).groupby(df.index.date).cumsum().eval('wgtd / quantity'))
df

NameError: name 'df' is not defined

In [18]:
from numba import jit

df=pd.DataFrame( np.random.randn(10000,3), columns=['v','h','l'] )

df['vwap_pandas'] = (df.v*(df.h+df.l)/2).cumsum() / df.v.cumsum()

@jit
def vwap():
    tmp1 = np.zeros_like(v)
    tmp2 = np.zeros_like(v)
    for i in range(0,len(v)):
        tmp1[i] = tmp1[i-1] + v[i] * ( h[i] + l[i] ) / 2.
        tmp2[i] = tmp2[i-1] + v[i]
    return tmp1 / tmp2

v = df.v.values
h = df.h.values
l = df.l.values

df['vwap_numpy'] = np.cumsum(v*(h+l)/2) / np.cumsum(v)

df['vwap_numba'] = vwap()

NameError: name 'volume' is not defined

In [ ]:
prices * volume

In [ ]:
vwap = (prices * volume).sum() / volume.sum()

In [ ]:
vwap

In [ ]:
vwap.dropna()

In [ ]:
prices.align(volume, join='inner')

In [20]:
s1 = pd.Series(range(3), index=['a', 'b', 'c'])

In [22]:
s2 = pd.Series(range(4), index=['d', 'b', 'c', 'e'])

In [23]:
s3 = pd.Series(range(3), index=['f', 'a', 'c'])

In [25]:
pd.DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  two  three
a  0.0  NaN    1.0
b  1.0  1.0    NaN
c  2.0  2.0    2.0
d  NaN  0.0    NaN
e  NaN  3.0    NaN
f  NaN  NaN    0.0

In [27]:
pd.DataFrame({'one': s1, 'two': s2, 'three': s3}, index=list('face'))

   one  two  three
f  NaN  NaN    0.0
a  0.0  NaN    1.0
c  2.0  2.0    2.0
e  NaN  3.0    NaN

In [29]:
ts1 = pd.Series(np.random.randn(3), index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))

In [30]:
ts1

2012-06-13   -1.470623
2012-06-20   -0.468648
2012-06-27   -1.271438
Freq: W-WED, dtype: float64

In [35]:
ts1.resample('B').mean()

2012-06-13   -1.470623
2012-06-14         NaN
2012-06-15         NaN
2012-06-18         NaN
2012-06-19         NaN
2012-06-20   -0.468648
2012-06-21         NaN
2012-06-22         NaN
2012-06-25         NaN
2012-06-26         NaN
2012-06-27   -1.271438
Freq: B, dtype: float64

In [34]:
ts1.resample('B').ffill()

2012-06-13   -1.470623
2012-06-14   -1.470623
2012-06-15   -1.470623
2012-06-18   -1.470623
2012-06-19   -1.470623
2012-06-20   -0.468648
2012-06-21   -0.468648
2012-06-22   -0.468648
2012-06-25   -0.468648
2012-06-26   -0.468648
2012-06-27   -1.271438
Freq: B, dtype: float64

In [36]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18', '2012-6-21', '2012-6-22', '2012-6-29'])

In [38]:
ts2 = pd.Series(np.random.randn(6), index=dates)

In [39]:
ts2

2012-06-12    1.759951
2012-06-17   -1.077186
2012-06-18   -0.790088
2012-06-21   -0.760928
2012-06-22    1.011646
2012-06-29   -0.767968
dtype: float64

In [40]:
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17   -1.470623
2012-06-18   -1.470623
2012-06-21   -0.468648
2012-06-22   -0.468648
2012-06-29   -1.271438
dtype: float64

In [41]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17   -2.547808
2012-06-18   -2.260711
2012-06-21   -1.229577
2012-06-22    0.542998
2012-06-29   -2.039406
dtype: float64

In [43]:
gdp = pd.Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46], index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))

In [44]:
infl = pd.Series([0.025, 0.045, 0.037, 0.04], index=pd.period_range('1982', periods=4, freq='A-DEC'))

In [45]:
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [46]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [47]:
infl_q = infl.asfreq('Q-SEP', how='end')

In [48]:
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [49]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

In [50]:
rng = pd.date_range('2012-06-01 09:30', '2012-06-01 15:59', freq='T')

In [51]:
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])

In [53]:
ts = pd.Series(np.arange(len(rng), dtype=float), index=rng)

In [54]:
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
2012-06-01 09:36:00       6.0
2012-06-01 09:37:00       7.0
2012-06-01 09:38:00       8.0
2012-06-01 09:39:00       9.0
2012-06-01 09:40:00      10.0
2012-06-01 09:41:00      11.0
2012-06-01 09:42:00      12.0
2012-06-01 09:43:00      13.0
2012-06-01 09:44:00      14.0
2012-06-01 09:45:00      15.0
2012-06-01 09:46:00      16.0
2012-06-01 09:47:00      17.0
2012-06-01 09:48:00      18.0
2012-06-01 09:49:00      19.0
2012-06-01 09:50:00      20.0
2012-06-01 09:51:00      21.0
2012-06-01 09:52:00      22.0
2012-06-01 09:53:00      23.0
2012-06-01 09:54:00      24.0
2012-06-01 09:55:00      25.0
2012-06-01 09:56:00      26.0
2012-06-01 09:57:00      27.0
2012-06-01 09:58:00      28.0
2012-06-01 09:59:00      29.0
                        ...
2012-06-06 15:30:00    1530.0
2012-06-06 15:31:00    1531.0
2012-06-06 15:32:00    1532.0
2012-06-06 15:33:00    1533.0
2012-06-06 15:34:00    1534.0
2012-06-06 15:35:00    1535.0
2012-06-06 15:36:00    1536.0
2012-06-06 15:37:00    1537.0
2012-06-06 15:38:00    1538.0
2012-06-06 15:39:00    1539.0
2012-06-06 15:40:00    1540.0
2012-06-06 15:41:00    1541.0
2012-06-06 15:42:00    1542.0
2012-06-06 15:43:00    1543.0
2012-06-06 15:44:00    1544.0
2012-06-06 15:45:00    1545.0
2012-06-06 15:46:00    1546.0
2012-06-06 15:47:00    1547.0
2012-06-06 15:48:00    1548.0
2012-06-06 15:49:00    1549.0
2012-06-06 15:50:00    1550.0
2012-06-06 15:51:00    1551.0
2012-06-06 15:52:00    1552.0
2012-06-06 15:53:00    1553.0
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [55]:
from datetime import time

In [56]:
ts[time(10, 0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [57]:
ts.at_time(time(10, 0))

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [58]:
ts.between_time(time(10, 0), time(10, 1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [59]:
indexer = np.sort(np.random.permutation(len(ts))[700:])

In [60]:
irr_ts = ts.copy()

In [61]:
irr_ts[indexer] = np.nan

In [62]:
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00     NaN
2012-06-01 09:51:00    21.0
2012-06-01 09:52:00    22.0
2012-06-01 09:53:00    23.0
2012-06-01 09:54:00    24.0
2012-06-01 09:55:00     NaN
2012-06-01 09:56:00    26.0
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
dtype: float64

In [63]:
selection = pd.date_range('2012-06-01 10:00', periods=4, freq='B')

In [64]:
irr_ts.asof(selection)

2012-06-01 10:00:00      26.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     807.0
2012-06-06 10:00:00    1200.0
Freq: B, dtype: float64

In [66]:
data1 = pd.DataFrame(np.ones((6, 3), dtype=float), columns=['a', 'b', 'c'], index=pd.date_range('6/12/2012', periods=6))

In [68]:
data2 = pd.DataFrame(np.ones((6, 3), dtype=float) * 2, columns=['a', 'b', 'c'], index=pd.date_range('6/13/2012', periods=6))

In [69]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])

c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [70]:
spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [72]:
data2 = pd.DataFrame(np.ones((6, 4), dtype=float) * 2, columns=['a', 'b', 'c', 'd'], index=pd.date_range('6/13/2012', periods=6))

In [73]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])

c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [74]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [75]:
spliced_filled = spliced.combine_first(data2)

In [76]:
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [77]:
spliced.update(data2, overwrite=False)

In [78]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [79]:
cp_spliced = spliced.copy()

In [80]:
cp_spliced[['a', 'c']] = data1[['a', 'c']]

In [81]:
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

In [91]:
#import pandas.io.data as web
from pandas_datareader import data, wb

In [98]:
price = web.get_data_yahoo('AAPL', '2011-01-01')['Adj Close']

AttributeError: module 'pandas' has no attribute 'wb'

In [93]:
price[-5:]

NameError: name 'price' is not defined

In [ ]:
price['2011-10-03'] / price['2011-3-01'] - 1

In [ ]:
returns = price.pct_change()

In [ ]:
ret_index = (1 + returns).cumprod()

In [ ]:
ret_index[0] = 1 # Set first value to 1

In [ ]:
ret_index

In [ ]:
m_returns = ret_index.resample('BM', how='last').pct_change()

In [ ]:
m_returns['2012']

In [ ]:
m_rets = (1 + returns).resample('M', how='prod', kind='period') - 1

In [ ]:
m_rets['2012']

NameError: name 'xrange' is not defined

In [106]:
M = 500
df = pd.DataFrame({'Momentum' : np.random.randn(M) / 200 + 0.03,
'Value' : np.random.randn(M) / 200 + 0.08, 'ShortInterest' : np.random.randn(M) / 200 - 0.02}, index = tickers[:M])
by_industry = df.groupby(industries)
ind_names = np.array(['FINANCIAL', 'TECH'])
sampler = np.random.randint(0, len(ind_names), N)
industries = Series(ind_names[sampler], index=tickers, name='industry')

NameError: name 'tickers' is not defined

In [ ]:
by_industry.mean()

In [ ]:
by_industry.describe()

In [ ]:
def zscore(group):
return (group - group.mean()) / group.std()
df_stand = by_industry.apply(zscore)

In [ ]:
df_stand.groupby(industries).agg(['mean', 'std'])

In [ ]:
ind_rank = by_industry.rank(ascending=False)

In [ ]:
ind_rank.groupby(industries).agg(['min', 'max'])

In [ ]:
by_industry.apply(lambda x: zscore(x.rank()))

In [112]:
from numpy.random import rand
fac1, fac2, fac3 = np.random.rand(3, 1000)
ticker_subset = tickers.take(np.random.permutation(N)[:1000])
# Weighted sum of factors plus noise
port = Series(0.7 * fac1 - 1.2 * fac2 + 0.3 * fac3 + rand(1000), index=ticker_subset)
factors = DataFrame({'f1': fac1, 'f2': fac2, 'f3': fac3}, index=ticker_subset)
factors.corrwith(port)

NameError: name 'Series' is not defined

In [ ]:
pd.ols(y=port, x=factors).beta

In [ ]:
by_ind = port.groupby(industries)

In [ ]:
exposures = by_ind.apply(beta_exposure, factors=factors)

In [ ]:
exposures.unstack()

In [ ]:
import pandas.io.data as web

In [ ]:
data = web.get_data_yahoo('SPY', '2006-01-01')

In [ ]:
data

In [ ]:
px = data['Adj Close']
returns = px.pct_change()

In [ ]:
def to_index(rets):
    index = (1 + rets).cumprod()
    first_loc = max(index.notnull().argmax() - 1, 0)
    index.values[first_loc] = 1
    return index
def trend_signal(rets, lookback, lag):
    signal = pd.rolling_sum(rets, lookback, min_periods=lookback - 5)
    return signal.shift(lag)

In [ ]:
signal = trend_signal(returns, 100, 3)

In [ ]:
trade_friday = signal.resample('W-FRI').resample('B', fill_method='ffill')

In [ ]:
trade_rets = trade_friday.shift(1) * returns

In [ ]:
to_index(trade_rets).plot()

In [ ]:
vol = pd.rolling_std(returns, 250, min_periods=200) * np.sqrt(250)

In [ ]:
def sharpe(rets, ann=250):
return rets.mean() / rets.std() * np.sqrt(ann)

In [ ]:
trade_rets.groupby(pd.qcut(vol, 4)).agg(sharpe)

In [114]:
names = ['AAPL', 'GOOG', 'MSFT', 'DELL', 'GS', 'MS', 'BAC', 'C']
def get_px(stock, start, end):
    return web.get_data_yahoo(stock, start, end)['Adj Close']
px = pd.DataFrame({n: get_px(n, '1/1/2009', '6/1/2012') for n in names})

NameError: name 'web' is not defined

In [ ]:
px = px.asfreq('B').fillna(method='pad')

In [ ]:
rets = px.pct_change()

In [ ]:
((1 + rets).cumprod() - 1).plot()

In [ ]:
def calc_mom(price, lookback, lag):
    mom_ret = price.shift(lag).pct_change(lookback)
    ranks = mom_ret.rank(axis=1, ascending=False)
    demeaned = ranks - ranks.mean(axis=1)
    return demeaned / demeaned.std(axis=1)

In [ ]:
compound = lambda x : (1 + x).prod() - 1
daily_sr = lambda x: x.mean() / x.std()

In [ ]:
def strat_sr(prices, lb, hold):
# Compute portfolio weights
    freq = '%dB' % hold
    port = calc_mom(prices, lb, lag=1)
    daily_rets = prices.pct_change()
# Compute portfolio returns
    port = port.shift(1).resample(freq, how='first')
    returns = daily_rets.resample(freq, how=compound)
    port_rets = (port * returns).sum(axis=1)
    return daily_sr(port_rets) * np.sqrt(252 / hold)

In [ ]:
strat_sr(px, 70, 30)

In [ ]:
lookbacks = range(20, 90, 5)
holdings = range(20, 90, 5)
dd = defaultdict(dict)
for lb in lookbacks:
    for hold in holdings:
        dd[lb][hold] = strat_sr(px, lb, hold)
ddf = DataFrame(dd)
ddf.index.name = 'Holding Period'
ddf.columns.name = 'Lookback Period'

In [ ]:
import matplotlib.pyplot as plt
def heatmap(df, cmap=plt.cm.gray_r):
    fig = plt.figure()
    ax = fig.add_subplot(111)
    axim = ax.imshow(df.values, cmap=cmap, interpolation='nearest')
    ax.set_xlabel(df.columns.name)
    ax.set_xticks(np.arange(len(df.columns)))
    ax.set_xticklabels(list(df.columns))
    ax.set_ylabel(df.index.name)
    ax.set_yticks(np.arange(len(df.index)))
    ax.set_yticklabels(list(df.index))
    plt.colorbar(axim)

In [ ]:
heatmap(ddf)

In [ ]:
import pandas.io.data as web

In [ ]:
px = web.get_data_yahoo('SPY')['Adj Close'] * 10

In [ ]:
px

In [ ]:
from datetime import datetime
expiry = {'ESU2': datetime(2012, 9, 21),
'ESZ2': datetime(2012, 12, 21)}
expiry = Series(expiry).order()

In [ ]:
expiry

In [ ]:
np.random.seed(12347)
N = 200
walk = (np.random.randint(0, 200, size=N) - 100) * 0.25
perturb = (np.random.randint(0, 20, size=N) - 10) * 0.25
walk = walk.cumsum()
rng = pd.date_range(px.index[0], periods=len(px) + N, freq='B')
near = np.concatenate([px.values, px.values[-1] + walk])
far = np.concatenate([px.values, px.values[-1] + walk + perturb])
prices = DataFrame({'ESU2': near, 'ESZ2': far}, index=rng)

In [ ]:
prices.tail()

In [ ]:
def get_roll_weights(start, expiry, items, roll_periods=5):
# start : first date to compute weighting DataFrame
# expiry : Series of ticker -> expiration dates
# items : sequence of contract names
    dates = pd.date_range(start, expiry[-1], freq='B')
    weights = DataFrame(np.zeros((len(dates), len(items))),
    index=dates, columns=items)
prev_date = weights.index[0]
for i, (item, ex_date) in enumerate(expiry.iteritems()):
    if i < len(expiry) - 1:
        weights.ix[prev_date:ex_date - pd.offsets.BDay(), item] = 1
        roll_rng = pd.date_range(end=ex_date - pd.offsets.BDay(),
                        periods=roll_periods + 1, freq='B')
        decay_weights = np.linspace(0, 1, roll_periods + 1)
        weights.ix[roll_rng, item] = 1 - decay_weights
        weights.ix[roll_rng, expiry.index[i + 1]] = decay_weights
    else:
        weights.ix[prev_date:, item] = 1
prev_date = ex_date
return weights

In [ ]:
weights = get_roll_weights('6/1/2012', expiry, prices.columns)

In [ ]:
weights.ix['2012-09-12':'2012-09-21']

In [ ]:
rolled_returns = (prices.pct_change() * weights).sum(1)

In [ ]:
aapl = web.get_data_yahoo('AAPL', '2000-01-01')['Adj Close']
msft = web.get_data_yahoo('MSFT', '2000-01-01')['Adj Close']
aapl_rets = aapl.pct_change()
msft_rets = msft.pct_change()

In [ ]:
model = pd.ols(y=aapl_rets, x={'MSFT': msft_rets}, window=250)

In [ ]:
model.beta

In [ ]:
model.beta['MSFT'].plot()